.not-found-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;   
    height: 100vh;
  }
  
  .not-found-heading {
    font-size: 6rem;
    color: #d9534f;
    margin-bottom: 20px;
  }
  
  .not-found-subheading {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .not-found-text {
    font-size: 1.5rem;
    color: #777;
  }

 